<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-demande-service-heading" jhiTranslate="portailCssIpresV2App.demandeService.home.createOrEditLabel">Create or edit a Demande Service</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssIpresV2App.demandeService.typeDemande" for="field_typeDemande">Type Demande</label>
                    <input type="text" class="form-control" name="typeDemande" id="field_typeDemande"
                           formControlName="typeDemande"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssIpresV2App.demandeService.idDossier" for="field_idDossier">Id Dossier</label>
                    <input type="text" class="form-control" name="idDossier" id="field_idDossier"
                           formControlName="idDossier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssIpresV2App.demandeService.statutDossier" for="field_statutDossier">Statut Dossier</label>
                    <input type="text" class="form-control" name="statutDossier" id="field_statutDossier"
                           formControlName="statutDossier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssIpresV2App.demandeService.urlDocument" for="field_urlDocument">Url Document</label>
                    <input type="text" class="form-control" name="urlDocument" id="field_urlDocument"
                           formControlName="urlDocument"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portailCssIpresV2App.demandeService.employeur" for="field_employeur">Employeur</label>
                    <select class="form-control" id="field_employeur" name="employeur" formControlName="employeur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeurOption.id === editForm.get('employeur')!.value?.id ? editForm.get('employeur')!.value : employeurOption" *ngFor="let employeurOption of employeurs; trackBy: trackById">{{ employeurOption.raisonSociale }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
