<div>
    <h2 id="page-heading">
        <span jhiTranslate="portailCssIpresV2App.demandeService.home.title">Demande Services</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demande-service" [routerLink]="['/demande-service/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="portailCssIpresV2App.demandeService.home.createLabel">
            Create a new Demande Service
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="demandeServices?.length === 0">
        <span jhiTranslate="portailCssIpresV2App.demandeService.home.notFound">No demandeServices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="demandeServices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeDemande"><span jhiTranslate="portailCssIpresV2App.demandeService.typeDemande">Type Demande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idDossier"><span jhiTranslate="portailCssIpresV2App.demandeService.idDossier">Id Dossier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statutDossier"><span jhiTranslate="portailCssIpresV2App.demandeService.statutDossier">Statut Dossier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="urlDocument"><span jhiTranslate="portailCssIpresV2App.demandeService.urlDocument">Url Document</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employeur.raisonSociale"><span jhiTranslate="portailCssIpresV2App.demandeService.employeur">Employeur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let demandeService of demandeServices ;trackBy: trackId">
                    <td><a [routerLink]="['/demande-service', demandeService.id, 'view']">{{ demandeService.id }}</a></td>
                    <td>{{ demandeService.typeDemande }}</td>
                    <td>{{ demandeService.idDossier }}</td>
                    <td>{{ demandeService.statutDossier }}</td>
                    <td>{{ demandeService.urlDocument }}</td>
                    <td>
                        <div *ngIf="demandeService.employeur">
                            <a [routerLink]="['/employeur', demandeService.employeur?.id, 'view']" >{{ demandeService.employeur?.raisonSociale }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/demande-service', demandeService.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/demande-service', demandeService.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(demandeService)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="demandeServices?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
