<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title>Activation compte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p>
    Bienvenue <span th:text="${user.firstName}"></span>
    <span th:text="${user.lastName}"></span>
</p>

<p>
    Votre inscription a été bien prise en compte.<br/>
    Votre identifiant est: <span th:text="${user.login}"></span>
</p>

<p>
    Merci de cliquer sur ce lien ci dessous pour activer votre compte:
</p>

<p>
    <a th:with="url=(@{|http://192.168.0.102/#/accueil/${user.activationKey}|})" th:href="${url}"
       th:text="${url}">Lien d'activation</a>

<!--    <a th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}|})" th:href="${url}"-->
<!--       th:text="${url}">Activation link</a>-->

<!--    <a href="http://localhost:4200/#/accueil/${user.activationKey}">Lien d'activation</a>-->
</p>

<p>
    <strong>Pour plus d'informations:</strong> <br/>
    Téléphone: 33 889 19 89<br/>
    E-mail: guichetunique@secsusociale.sn
</p>
<p>
    Cordialement.<br/>
    Portail_CSS/IPRES
</p>
</body>
</html>











